h1 {
    text-align: center;
}

.button-div {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
.container-1, h3 {
    margin-left: 10px;
}

th {
    min-width: 100px;
    background-color: grey;
}
table, th, tr {
    border-collapse: collapse;
    border: 1px solid;
    padding: 10px;
    text-align: center;
    margin-left: 10px;
}
td {
    border-collapse: collapse;
    border: 1px solid;
}

body {
    width: fit-content;
}

div {
    
}

tr:nth-child(even) {
    background-color: lightgray;
}

.delete-btn:active {
    tr:nth-child(even) {
        background-color: lightgray;
    }
}

