h1 {
    text-align: center;
    background-color: grey;
    color: white;
}
h4 {
    text-align: left;
    margin-right: 10px;
}


input {
    width: 135px;
}

.button-div {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}
.container-1, h3 {
    margin-left: 10px;
}

th {
    min-width: 100px;
    background-color: grey;
}
table, th, tr {
    border-collapse: collapse;
    border: 1px solid;
    padding: 10px;
    text-align: center;
    margin-left: 10px;
}
td {
    border-collapse: collapse;
    border: 1px solid;
}

body {
    width: fit-content;
}

div {
    
}

tr:nth-child(even) {
    background-color: lightgray;
}

.delete-btn:active {
    tr:nth-child(even) {
        background-color: lightgray;
    }
}

#tableFooter {
    background-color: lightgrey;
    height: 30px;
    border-collapse: collapse;
    border: 1px solid;
    margin-left: 10px;
    margin-right: 4px;
}

.totalCostBox {
    float: right;
    border: 1px solid;
    border-color: black;
    width: 250px;
    height: 40px;
    margin-right: 5px;
    padding-bottom: 10px;
    margin-top: 5px;
}